# Analisis de datos
## Introducción a Pandas
## Índice:
1. [Extracción de datos](#Extraer-datos:-Restaurant)
2. [Filtrar datos](#Filtrar-datos)
3. [GroupBy](#GroupBy)
4. [Apply](#Apply:-Student-Alcohol-Consumption)
5. [Merge](#Merge:-Housing-Market)
6. [Stats](#Stats:-US---Baby-Names)
7. [Deleting](#Deleting:-Iris)
8. [Bonus](#lab#Bonus:)

<b>Nota:</b>
Esta practica esta basada en los ejercicios de varios recursos online como:

* https://github.com/ajcr/100-pandas-puzzles/blob/master/100-pandas-puzzles.ipynb
* https://www.machinelearningplus.com/python/101-pandas-exercises-python/
* https://www.kaggle.com/learn/pandas
* https://github.com/facuzeta/pandas_exercises
* https://github.com/guipsamora/pandas_exercises

# Extraer datos: Restaurant
Referencias:
* [Read_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)
* [Group by](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.groupby.html)
* [dtype](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dtypes.html)

1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

pd.read_csv(url, sep="\t")

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

3. Assign it to a variable called chipo.

In [3]:
chipo = pd.read_csv(url, sep="\t")

4. See the first 10 entries

In [4]:
chipo.tail(n = 10)
#chipo.sample(n=10)
chipo.head(n = 5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [5]:
mask = chipo['quantity'] > 1
print(chipo['quantity'].shape)

(4622,)

In [9]:
type(chipo.quantity > 1)

pandas.core.series.Series

In [10]:
chipo[['quantity']] > 1

      quantity
0        False
1        False
2        False
3        False
4         True
...        ...
4617     False
4618     False
4619     False
4620     False
4621     False

[4622 rows x 1 columns]

In [11]:
chipo.keys()

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [12]:
df = pd.DataFrame(data=[[1,2,3],[4,5,6]], columns=['a', 'una-columna', 'c'])
print(df)

a = df['a']
b = df.a
c = pd.DataFrame(df['a'])
print(a is b)
print(a is c)
d = pd.DataFrame({
    'a':[1,2,3,4],
    'b':[4,5,6,6],
    'c':1
})
print(df)
df = df.rename(columns={
    'una-columna':'una_columna',
})
df.una_columna
print(df)
#df = df.drop(['una_columna'], axis=1)
df = df.drop(columns=['una_columna'])

   a  una-columna  c
0  1            2  3
1  4            5  6
True
False
   a  una-columna  c
0  1            2  3
1  4            5  6
   a  una_columna  c
0  1            2  3
1  4            5  6

5. What is the number of observations in the dataset?

In [13]:
chipo.shape, len(chipo) #len me da la cantidad de filas

((4622, 5), 4622)

6. What is the number of columns in the dataset?

In [6]:
chipo.columns, len(chipo.columns) #len me da la columnas si se lo especifico

(Index(['order_id', 'quantity', 'item_name', 'choice_description',
        'item_price'],
       dtype='object'),
 5)

7. Print the name of all the columns.

In [15]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [16]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

9. Which was the most-ordered item?

In [8]:
#item = 'Chicken Salad Bowl'
#mask = chipo.item_name == item
#aux = chipo.quantity.loc[mask]
#aux.shape, aux.sum()
df = chipo.groupby('item_name')['quantity'].sum()
df = df.sort_values(ascending=False)
df.head(1)

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

In [18]:
chipo.item_name.value_counts()

item_name
Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Veggie Salad                               6
Carnitas Salad Bowl                        6
Burrito                                    6
Steak Salad                                4
Crispy Tacos                               2
Salad                                      2
Bowl                                       2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: count, dtype: int64

In [19]:
chipo.item_price.value_counts()

item_price
$8.75      730
$11.25     521
$9.25      398
$4.45      349
$8.49      311
          ...
$13.35       1
$7.50        1
$4.36        1
$11.80       1
$11.49       1
Name: count, Length: 78, dtype: int64

10. For the most-ordered item, how many items were ordered?

In [20]:
chipo[chipo.item_name == "Chicken Bowl"] #Me fijo el más ordenado, el último

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$8.75
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",$8.49
...,...,...,...,...,...
4590,1825,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$11.25
4591,1825,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$8.75
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",$8.75
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",$8.75
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75

In [21]:
chipo.loc[chipo.item_name == "Chicken Bowl"][["quantity"]].sum() #Luego sumo todas las cantidades de este

quantity    761
dtype: int64

11. What was the most ordered item in the choice_description column?

In [29]:
most_ordered_item = chipo.groupby('choice_description')['quantity'].sum().sort_values(ascending=False)
most_ordered_item.head(1)

choice_description
[Diet Coke]    159
Name: quantity, dtype: int64

12. How many items were orderd in total?

In [30]:
most_ordered_item = chipo.groupby('choice_description')['quantity'].sum().sort_values(ascending=False)
most_ordered_item.head(1)

choice_description
[Diet Coke]    159
Name: quantity, dtype: int64

13. Turn the item price into a float

In [41]:
#chipo['item_price'].astype(float)
chipo['item_price'] = chipo['item_price'].astype('float')

ValueError: could not convert string to float: '$2.39 '

13.a. Check the item price type

13.b. Change the type of the column into a float

13.c. Check the item price type

14. How much was the revenue for the period in the dataset?

15. How many orders were made in the period?

In [43]:
len(chipo.order_id.unique())

1834

16. What is the average revenue amount per order?

In [42]:
chipo2 = chipo.copy()
chipo2['item_price'] = chipo['item_price'].str[1:].astype('float')
chipo2['total_price'] = chipo2('item_price').mul(chipo2['quantity'])
chipo2.groupby('order_id')['total_price'].sum().mean()

The history saving thread hit an unexpected error (OperationalError('unable to open database file')).History will not be written to the database.

TypeError: 'DataFrame' object is not callable

17. How many different items are sold?

In [46]:
len(chipo2['item_name'].unique())

50

18. How many products cost more than $10.00?

In [44]:
(chipo2['item_price']>10).sum()

1130

In [ ]:
df = pd.DataFrame(data = [[1,2,3],[4,5,6]], columns=['a','una-columna','c'])
print()
df.rename(columns={'una-columna'='una_columna',}, inplace=True)



#Si no usamo el inplace es más costoso computacionalmente si el df es muy rgrande

# Filtrar datos
Referencias:
* [Reset Index](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reset_index.html)
* [Sort values](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html?highlight=sort_values#pandas.DataFrame.sort_values)

19. What is the price of each item? 
> print a data frame with only two columns item_name and item_price

In [55]:
#mask = chipo[['item_name','item_price']].unique()
mask = chipo['item_name'].unique()
#print(mask)
chipo[['item_name','item_price']].groupby('item_name').first()
chipo[['item_name','item_price']].groupby('item_name').get_group('Barbacoa bowl')

KeyError: 'Barbacoa bowl'

20. Sort by the name of the item

In [52]:
chipo.sort_values['item_name']

TypeError: 'method' object is not subscriptable

21. What was the quantity of the most expensive item ordered?

In [ ]:
chipo2.sort_values

22. How many times was a Veggie Salad Bowl ordered?

In [57]:
(chipo['item_name'] == 'Veggie Salad').sum()

chipo.loc[chipo['item_name'] == 'Veggie Salad'] #loc me da lo que cumple la condición

,order_id,quantity,item_name,choice_description,item_price
1694,686,1,Veggie Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",$8.49
2756,1094,1,Veggie Salad,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",$8.49
2996,1192,1,Veggie Salad,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49
3163,1263,1,Veggie Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",$8.49
3471,1395,1,Veggie Salad,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",$8.49
4084,1635,1,Veggie Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",$8.49

In [58]:
#Si quiero el primer item uso iloc
chipo.loc[chipo['item_name'] == 'Veggie Salad'] .iloc[0]

order_id                                                            686
quantity                                                              1
item_name                                                  Veggie Salad
choice_description    [[Fresh Tomato Salsa (Mild), Roasted Chili Cor...
item_price                                                       $8.49
Name: 1694, dtype: object

In [59]:
df = chipo.loc[chipo['item_name'] == 'Veggie Salad'] 
df1 = df.reset_index(drop=True)
print(df1)
df2 = df.reset_index(drop=True)
print(df2)
df3 = df.reset_index(drop=True)
print(df3)

   order_id  quantity     item_name  \
0       686         1  Veggie Salad
1      1094         1  Veggie Salad
2      1192         1  Veggie Salad
3      1263         1  Veggie Salad
4      1395         1  Veggie Salad
5      1635         1  Veggie Salad

                                  choice_description item_price
0  [[Fresh Tomato Salsa (Mild), Roasted Chili Cor...     $8.49
1  [[Tomatillo-Green Chili Salsa (Medium), Roaste...     $8.49
2  [Roasted Chili Corn Salsa (Medium), [Black Bea...     $8.49
3  [[Fresh Tomato Salsa (Mild), Roasted Chili Cor...     $8.49
4  [[Tomatillo-Green Chili Salsa (Medium), Roaste...     $8.49
5  [[Fresh Tomato Salsa (Mild), Roasted Chili Cor...     $8.49
   order_id  quantity     item_name  \
0       686         1  Veggie Salad
1      1094         1  Veggie Salad
2      1192         1  Veggie Salad
3      1263         1  Veggie Salad
4      1395         1  Veggie Salad
5      1635         1  Veggie Salad

                                  choice_description item_price
0  [[Fresh Tomato Salsa (Mild), Roasted Chili Cor...     $8.49
1  [[Tomatillo-Green Chili Salsa (Medium), Roaste...     $8.49
2  [Roasted Chili Corn Salsa (Medium), [Black Bea...     $8.49
3  [[Fresh Tomato Salsa (Mild), Roasted Chili Cor...     $8.49
4  [[Tomatillo-Green Chili Salsa (Medium), Roaste...     $8.49
5  [[Fresh Tomato Salsa (Mild), Roasted Chili Cor...     $8.49
   order_id  quantity     item_name  \
0       686         1  Veggie Salad
1      1094         1  Veggie Salad
2      1192         1  Veggie Salad
3      1263         1  Veggie Salad
4      1395         1  Veggie Salad
5      1635         1  Veggie Salad

                                  choice_description item_price
0  [[Fresh Tomato Salsa (Mild), Roasted Chili Cor...     $8.49
1  [[Tomatillo-Green Chili Salsa (Medium), Roaste...     $8.49
2  [Roasted Chili Corn Salsa (Medium), [Black Bea...     $8.49
3  [[Fresh Tomato Salsa (Mild), Roasted Chili Cor...     $8.49
4  [[Tomatillo-Green Chili Salsa (Medium), Roaste...     $8.49
5  [[Fresh Tomato Salsa (Mild), Roasted Chili Cor...     $8.49

23. How many times did someone order more than one Canned Soda?

# GroupBy

Referencias:
* [Describe](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.describe.html)

GroupBy can be summarized as Split-Apply-Combine. Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)

24. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

25. Assign it to a variable called drinks.

26. Which continent drinks more beer on average?

27. Print the mean alcohol consumption per continent for every column

28. Print the median alcohol consumption per continent for every column

29. Print the mean, min and max values for spirit consumption.

# Apply: Student Alcohol Consumption
Referencias:
* [apply](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.GroupBy.apply.html?highlight=apply#pandas.core.groupby.GroupBy.apply)

30. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

31. Assign it to a variable called df.

32. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

33. Create a function that will capitalize strings.

34. Capitalize both Mjob and Fjob

35. Print the last elements of the data set.

36. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

# Merge: Housing Market
Referencias:
* [randint](https://docs.scipy.org/doc/numpy-1.15.1/reference/generated/numpy.random.randint.html)

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

37. Import the necessary libraries

38. Create 3 differents Series, each of length 100, as follows: 
<br>
    The first a random number from 1 to 4 
    <br>
    The second a random number from 1 to 3
    <br>
    The third a random number from 10,000 to 30,000

39. Let's create a DataFrame by joinning the Series by column

40. Change the name of the columns to bedrs, bathrs, price_sqr_meter

41. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

42. Oops, it seems it is going only until index 99. Is it true?

43. Reindex the DataFrame so it goes from 0 to 299

# Stats: US - Baby Names

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014

44. Import the dataset from this [address](https://facuzeta.github.io/udesa/01_programacion/guias/datasets/US_Baby_Names_right.csv.zip).

45. Assign it to a variable called baby_names.

46. See the first 10 entries

47. Delete the column 'Unnamed: 0' and 'Id'

48. Is there more male or female names in the dataset?

49. Group the dataset by name and assign to names

50. How many different names exist in the dataset?

51. What is the name with most occurrences?

52. How many different names have the least occurrences?

53. What is the median name occurrence?

54. What is the standard deviation of names?

55. Get a summary with the mean, min, max, std and quartiles.

# Deleting: Iris
Referencias:
* [fillna](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html)

56. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

57. Assign it to a variable called iris

58. Create columns for the dataset

In [ ]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class

59.  Is there any missing value in the dataframe?

60.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

61. Good, now lets substitute the NaN values to 1.0

62. Now let's delete the column class

63.  Set the first 3 rows as NaN

64.  Delete the rows that have NaN

65. Reset the index so it begins with 0 again

# Bonus:
Si quiere mas ejercicios visitar:
* https://github.com/ajcr/100-pandas-puzzles/blob/master/100-pandas-puzzles.ipynb
* https://www.machinelearningplus.com/python/101-pandas-exercises-python/